@import "tailwindcss";

@keyframes softGlow {
  0%, 100% {
    opacity: 0.1;
  }
  50% {
    opacity: 0.25;
  }
}

.animate-softGlow {
  animation: softGlow 6s ease-in-out infinite;
}

@layer utilities {
  .text-shadow-bottom {
    text-shadow: 0 4px 3px rgba(252, 160, 64, 0.3);
  }
}


.focus-outline:focus-within {
  outline: auto;
}

/* ====== Hide scrollbar globally (but still scrollable) ====== */

* {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #444 transparent; /* Firefox */
}

/* Chrome, Edge, Safari */
*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-thumb {
  background-color: #444;      /* Customize scrollbar thumb */
  border-radius: 6px;
}

*::-webkit-scrollbar-track {
  background-color: transparent; /* Or #2c2c2c for dark track */
}
